/* Background Image */
body {
	background-image:url('image/grocery.jpg');
	background-repeat:no-repeat;
	background-position: top center;
}
/* Main Container */
#main {
	outline: 1px solid white;
	max-width:450px;
	height:880px;
	margin: 20px auto;
}
/* Main Header */
#main h1 {
	font-family: "Goudy Old Style", Garamond, "Big Caslon", "Times New Roman", serif;
	text-transform: uppercase;
	text-align: center;
	color:white;
}
/* Form & Button */
#form {
	margin-left:120px;
}

#form input {
	border: 1px solid #D8D8D8;
	height:18px;
	width:150px;
}
#button-add {
	border:1px solid;
	height:25px;
	border-radius:2px;
	background-color:#F3F3F3;
	text-align:center;
	font-weight:bold;
	font-family:Arial;
	font-size:11px;
	color:#444;
}
/* The List */
#list li {
	border: 1px solid #000;
	border-radius: 10px;
	margin: 10px 0px;
	padding: 8px;
	list-style: none;
	background-color:white;
	opacity:0.4;
}